/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : 4/03/2019, 11:01:28 AM
    Author     : Gus
*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: black !important;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.esquina_superior_derecha_multiple {
    float: left;
    position: absolute;
    top: -9%;
    left: 82%;
    font-size: 20pt;
}

.esquina_superior_derecha_simple {
    float: left;
    position: absolute;
    top: -15%;
    left: 82%;
    font-size: 20pt;
}

.esquina_superior_derecha_simple_comercial {
    float: left;
    position: absolute;
    top: -8%;
    left: 82%;
    font-size: 20pt;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}

.clsPend {
    background-color: #cf295c !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color : white !important;
    text-shadow: 3px 3px black;
}
.clsDupl {
    background-color: #e1931f !important;
    color : white !important;
}
.clsErra {
    background-color: #dda824 !important;
    color : white !important;
}
.clsDesc {
    background-color: #e0bb22 !important;
    color : white !important;
    text-shadow: 2px 2px black;
}
.clsSegu {
    background-color: #444d66 !important;
    color : white !important;
    text-shadow: 3px 3px black;
}
.clsCita {
    background-color: #5b6884 !important;
    color : white !important;
}
.clsDesd {
    background-color: #89c9d5 !important;
    color : black !important;
    text-shadow: 3px 3px white;
}
.clsCoti {
    background-color: #a7ecf2 !important;
    color : black !important;
}
.clsVent {
    background-color: #bdf3f4 !important;
    color : black !important;
}


.mr-2 {
    text-align: center;
}
